# Mac Os
.DS_Store

# Ignore compiled objects
var/

# Ignore node packages
node_modules/
dist/
coverage/

# == Python
# Packaging
build
dist
*.egg-info

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
